<?xml version="1.0" encoding="UTF-8"?>
<AutomationConfiguration>
    <AutomationLayers>
        <AutomationLayer>
            <Guid>0ef9a860e3004770bc2a397932ec95cc</Guid>
            <Name>CucumberEN</Name>
            <Objects>
                <Object>
                    <ObjectType>Batch File</ObjectType>
                    <ObjectActions>
                        <Action ActionName="Create" CodeSnippet="copy /y /b cucumber_header.header + *.test cucumber.txt&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Cucumber</ObjectType>
                    <ObjectActions>
                        <Action ActionName="Background" CodeSnippet="  Background:&#10;# Use Given-When-Then actions below&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="Concatenate" CodeSnippet=" ##Block Description[b1]## ~VARIABLE_NAME[1]~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="Feature" CodeSnippet="Feature: ~VARIABLE_NAME[1]~ &#10;&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="FeaturePath" CodeSnippet="Feature: ##Path Name[p1]##&#10;&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="FeatureTag" CodeSnippet="@~VARIABLE_NAME[1]~ &#10;Feature: ~VARIABLE_NAME[2]~ &#10;&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="FeatureTag2" CodeSnippet="@~VARIABLE_NAME[1]~ @~VARIABLE_NAME[2]~ &#10;Feature: ~VARIABLE_NAME[3]~&#10;&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="Footer" CodeSnippet="&#10;&#10;&#10;&#10;&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="Join" CodeSnippet="&#10;&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="Scenario Path" CodeSnippet="Scenario: ##Path Name[p1]## &#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="ScenarioOutline" CodeSnippet="Scenario Outline: ~VARIABLE_NAME[1]~ &#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="ScenarioOutline2" CodeSnippet="@~VARIABLE_NAME[1]~ &#10;Scenario Outline: ~VARIABLE_NAME[2]~ &#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Cucumber And</ObjectType>
                    <ObjectActions>
                        <Action ActionName="AndNotes" CodeSnippet="&#10;And ##Block Description[b1]##" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="AndNotesVar" CodeSnippet="&#10;And ##Block Description[b1]## '~VARIABLE_NAME[1]~'" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="AndVar" CodeSnippet="&#10;And ~VARIABLE_NAME[1]~ &#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Cucumber Given</ObjectType>
                    <ObjectActions>
                        <Action ActionName="GivenNotes" CodeSnippet="&#10;Given ##Block Description[b1]##" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="GivenNotesVar" CodeSnippet="&#10;Given ##Block Description[b1]## ~VARIABLE_NAME[1]~ " ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="GivenVar" CodeSnippet="&#10;Given ~VARIABLE_NAME[1]~" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Cucumber Then</ObjectType>
                    <ObjectActions>
                        <Action ActionName="ThenNotes" CodeSnippet="&#10;Then ##Block Description[b1]##" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="ThenNotesVar" CodeSnippet="&#10;Then ##Block Description[b1]## '~VARIABLE_NAME[1]~'" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="ThenVar" CodeSnippet="&#10;Then ~VARIABLE_NAME[1]~ " ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Cucumber When</ObjectType>
                    <ObjectActions>
                        <Action ActionName="WhenNotes" CodeSnippet="&#10;When ##Block Description[b1]##" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="WhenNotesVar" CodeSnippet="&#10;When ##Block Description[b1]## '~VARIABLE_NAME[1]~'" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
            </Objects>
            <PreviewDetails>
                <RunFileLocation>c:\ca\automation\runtest.bat</RunFileLocation>
                <EditLanguage>3</EditLanguage>
                <EditTheme>6</EditTheme>
                <EditorType>0</EditorType>
                <FromFileStructure>False</FromFileStructure>
                <MapFromBlockAttributes/>
            </PreviewDetails>
            <ExportSettings>
                <ScriptType>1</ScriptType>
                <FileConfiguration>43</FileConfiguration>
                <ScriptTypeSettings scriptType="1">
                    <IndividualSettings fileExtension=".feature" fileNameVariable="" fileNamingSystem="0" filePrefix=""/>
                    <MergedSettings fileExtension="" fileNameVariable="" fileNamingSystem="3" filePrefix=""/>
                </ScriptTypeSettings>
                <PreviewHeaderFooter Legacy="For forwards compatibility with ARD2.7 and older">
                    <Header>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Header>
                    <Footer>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Footer>
                    <Join>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Join>
                    <BlockHeader>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </BlockHeader>
                    <BlockFooter/>
                    <StepJoin>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </StepJoin>
                    <PathHeader>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </PathHeader>
                    <PathFooter>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </PathFooter>
                </PreviewHeaderFooter>
                <ContainerData guid="f7114fb43f934784a073bd947968ebfd" xmlVersion="1.0" overrideSectionStepJoin="0">
                    <FlowHeader/>
                    <FlowFooter/>
                    <BlockFooter/>
                    <BlockHeader/>
                    <PathHeader/>
                    <PathFooter/>
                    <PathJoin/>
                    <StepJoin/>
                </ContainerData>
                <AutomationSectionModel guid="939bcb33b3164e278f0d5cc8ad6a1ee4" xmlVersion="1.0">
                    <AutomationSectionModelItem guid="6cebbd0614674bd2a1a60bc2c11e0cff" xmlVersion="1.0">
                        <AutomationSection guid="83db30cae876433d977877d43892a542" xmlVersion="1.0" name="HiddenRoot" description="" defaultSelected="0" referencedRedundantSections="">
                            <Steps>
                                <InsertedSteps/>
                                <SectionHeader/>
                                <SectionFooter/>
                                <SectionJoin/>
                                <StepHeader/>
                                <StepFooter/>
                                <StepJoin/>
                            </Steps>
                        </AutomationSection>
                        <ChildItems>
                            <AutomationSectionModelItem guid="432bc94f07344e92b5d8dc0906c9e136" xmlVersion="1.0">
                                <AutomationSection guid="00000000000000000000000000000000" xmlVersion="1.0" name="Root" description="" defaultSelected="1" referencedRedundantSections="">
                                    <Steps>
                                        <InsertedSteps/>
                                        <SectionHeader/>
                                        <SectionFooter/>
                                        <SectionJoin/>
                                        <StepHeader/>
                                        <StepFooter/>
                                        <StepJoin/>
                                    </Steps>
                                </AutomationSection>
                                <ChildItems/>
                            </AutomationSectionModelItem>
                        </ChildItems>
                    </AutomationSectionModelItem>
                </AutomationSectionModel>
            </ExportSettings>
            <LayerVariables/>
        </AutomationLayer>
        <AutomationLayer>
            <Guid>27b73c43087149f884e87544125d9592</Guid>
            <Name>Selenium</Name>
            <Objects>
                <Object>
                    <ObjectType>Browser</ObjectType>
                    <ObjectActions>
                        <Action ActionName="Navigate" CodeSnippet="await driver.get('~VARIABLE_NAME[1]~');" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="Quit" CodeSnippet="await driver.quit();" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Button</ObjectType>
                    <ObjectActions>
                        <Action ActionName="Click By Css" CodeSnippet="await driver.findElement(By.css('##OBJ_NAME##')).click();" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Comment</ObjectType>
                    <ObjectActions>
                        <Action ActionName="Comment" CodeSnippet="//##Block Name (Test Step)[b0]##" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Element</ObjectType>
                    <ObjectActions>
                        <Action ActionName="Wait Until Located By CSS" CodeSnippet="await driver.wait(until.elementLocated(By.css('##OBJ_NAME##')), 2000);" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="Wait Until Located By XPath" CodeSnippet="await driver.wait(until.elementLocated(By.xpath('##OBJ_NAME##')), 2000);" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Link</ObjectType>
                    <ObjectActions>
                        <Action ActionName="Click By Css" CodeSnippet="await driver.findElement(By.css('##OBJ_NAME##')).click();" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Text Field</ObjectType>
                    <ObjectActions>
                        <Action ActionName="Input Text" CodeSnippet="await driver.findElement(By.name('##OBJ_NAME##')).sendKeys('~VARIABLE_NAME[1]~');" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
            </Objects>
            <PreviewDetails>
                <RunFileLocation></RunFileLocation>
                <EditLanguage>3</EditLanguage>
                <EditTheme>6</EditTheme>
                <EditorType>0</EditorType>
                <FromFileStructure>False</FromFileStructure>
                <MapFromBlockAttributes/>
            </PreviewDetails>
            <ExportSettings>
                <ScriptType>1</ScriptType>
                <FileConfiguration>43</FileConfiguration>
                <ScriptTypeSettings scriptType="1">
                    <IndividualSettings fileExtension="" fileNameVariable="" fileNamingSystem="3" filePrefix=""/>
                    <MergedSettings fileExtension="" fileNameVariable="" fileNamingSystem="3" filePrefix=""/>
                </ScriptTypeSettings>
                <PreviewHeaderFooter Legacy="For forwards compatibility with ARD2.7 and older">
                    <Header>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Header>
                    <Footer>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Footer>
                    <Join>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Join>
                    <BlockHeader>
                        <Automation SectionsEnabled="true" linkedSections="00000000000000000000000000000000;Root">
                            <ObjectName></ObjectName>
                            <LayerId>27b73c43087149f884e87544125d9592</LayerId>
                            <ObjectType>Comment</ObjectType>
                            <ActionName>Comment</ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </BlockHeader>
                    <BlockFooter/>
                    <StepJoin>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </StepJoin>
                    <PathHeader>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </PathHeader>
                    <PathFooter>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </PathFooter>
                </PreviewHeaderFooter>
                <ContainerData guid="4fbc443238de4e1eb423637e5ba891a9" xmlVersion="1.0" overrideSectionStepJoin="0">
                    <FlowHeader/>
                    <FlowFooter/>
                    <BlockFooter/>
                    <BlockHeader>
                        <AutomationStep guid="ad0e1817a3584837b3de7269e4e30677" xmlVersion="1.0" objectName="" layerId="27b73c43087149f884e87544125d9592" objectType="Comment" actionName="Comment" overrideString="" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="00000000000000000000000000000000;Root">
                            <Repeater guid="b2a8dafc5838423ca49b8ca2a407556c" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                        </AutomationStep>
                    </BlockHeader>
                    <PathHeader/>
                    <PathFooter/>
                    <PathJoin/>
                    <StepJoin/>
                </ContainerData>
                <AutomationSectionModel guid="72003eb6ab8946f68ed32e104652244b" xmlVersion="1.0">
                    <AutomationSectionModelItem guid="fb66911a32414abb94756f5fd38928e6" xmlVersion="1.0">
                        <AutomationSection guid="bd1dbcd20d61489fa5f8bf659f717488" xmlVersion="1.0" name="HiddenRoot" description="" defaultSelected="0" referencedRedundantSections="">
                            <Steps>
                                <InsertedSteps/>
                                <SectionHeader/>
                                <SectionFooter/>
                                <SectionJoin/>
                                <StepHeader/>
                                <StepFooter/>
                                <StepJoin/>
                            </Steps>
                        </AutomationSection>
                        <ChildItems>
                            <AutomationSectionModelItem guid="7b63ed22235c408a99020abb56c998b8" xmlVersion="1.0">
                                <AutomationSection guid="00000000000000000000000000000000" xmlVersion="1.0" name="Root" description="" defaultSelected="1" referencedRedundantSections="">
                                    <Steps>
                                        <InsertedSteps/>
                                        <SectionHeader/>
                                        <SectionFooter/>
                                        <SectionJoin/>
                                        <StepHeader/>
                                        <StepFooter>
                                            <AutomationStep guid="f0c394ddaaa74655a4bfbe508b5dbce2" xmlVersion="1.0" objectName="" layerId="27b73c43087149f884e87544125d9592" objectType="" actionName="" overrideString="&#10;" repeaterValue="1" itemID="" repoID="" source="0" linkedSections="00000000000000000000000000000000;Root">
                                                <Repeater guid="95d82511424449ddbcc2246e7a249ba8" xmlVersion="1.0" name="Repeater" value="1" description="" type="String" resolveState="ResolvableString" data="AAAACgAAAAACADE="/>
                                            </AutomationStep>
                                        </StepFooter>
                                        <StepJoin/>
                                    </Steps>
                                </AutomationSection>
                                <ChildItems/>
                            </AutomationSectionModelItem>
                        </ChildItems>
                    </AutomationSectionModelItem>
                </AutomationSectionModel>
            </ExportSettings>
            <LayerVariables/>
        </AutomationLayer>
        <AutomationLayer>
            <Guid>6165e88e63fe4c8a904a2eda1ad6b047</Guid>
            <Name>Jira-Zephyr</Name>
            <Objects>
                <Object>
                    <ObjectType>Default</ObjectType>
                    <ObjectActions>
                        <Action ActionName="Common" CodeSnippet="!Step=##Block Name (Test Step)[b0]##&#10;!Expected=##Expected Results[b2006]##&#10;!Data=name,~VARIABLE_NAME[1]~&#10;!Data=name,~VARIABLE_NAME[2]~&#10;!End&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
            </Objects>
            <PreviewDetails>
                <RunFileLocation></RunFileLocation>
                <EditLanguage>3</EditLanguage>
                <EditTheme>6</EditTheme>
                <EditorType>0</EditorType>
                <FromFileStructure>False</FromFileStructure>
                <MapFromBlockAttributes/>
            </PreviewDetails>
            <ExportSettings>
                <ScriptType>0</ScriptType>
                <FileConfiguration>43</FileConfiguration>
                <ScriptTypeSettings scriptType="0">
                    <IndividualSettings fileExtension="" fileNameVariable="" fileNamingSystem="3" filePrefix=""/>
                    <MergedSettings fileExtension="" fileNameVariable="" fileNamingSystem="3" filePrefix=""/>
                </ScriptTypeSettings>
                <PreviewHeaderFooter Legacy="For forwards compatibility with ARD2.7 and older">
                    <Header>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Header>
                    <Footer>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Footer>
                    <Join>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Join>
                    <BlockHeader>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </BlockHeader>
                    <BlockFooter/>
                    <StepJoin>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </StepJoin>
                    <PathHeader>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </PathHeader>
                    <PathFooter>
                        <Automation SectionsEnabled="true" linkedSections="">
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </PathFooter>
                </PreviewHeaderFooter>
                <ContainerData guid="fa1f4f21825149adb06d6635d205c459" xmlVersion="1.0" overrideSectionStepJoin="0">
                    <FlowHeader/>
                    <FlowFooter/>
                    <BlockFooter/>
                    <BlockHeader/>
                    <PathHeader/>
                    <PathFooter/>
                    <PathJoin/>
                    <StepJoin/>
                </ContainerData>
                <AutomationSectionModel guid="9621c007ca0c41a9841faf7c88d4e9e6" xmlVersion="1.0">
                    <AutomationSectionModelItem guid="709192712ee5457a963f71f207a6319f" xmlVersion="1.0">
                        <AutomationSection guid="2eca3394fcd7403e874cce0bbbf23225" xmlVersion="1.0" name="HiddenRoot" description="" defaultSelected="0" referencedRedundantSections="">
                            <Steps>
                                <InsertedSteps/>
                                <SectionHeader/>
                                <SectionFooter/>
                                <SectionJoin/>
                                <StepHeader/>
                                <StepFooter/>
                                <StepJoin/>
                            </Steps>
                        </AutomationSection>
                        <ChildItems>
                            <AutomationSectionModelItem guid="f6b052d2cefa4b7aaa07209facae37b6" xmlVersion="1.0">
                                <AutomationSection guid="00000000000000000000000000000000" xmlVersion="1.0" name="Root" description="" defaultSelected="1" referencedRedundantSections="">
                                    <Steps>
                                        <InsertedSteps/>
                                        <SectionHeader/>
                                        <SectionFooter/>
                                        <SectionJoin/>
                                        <StepHeader/>
                                        <StepFooter/>
                                        <StepJoin/>
                                    </Steps>
                                </AutomationSection>
                                <ChildItems/>
                            </AutomationSectionModelItem>
                        </ChildItems>
                    </AutomationSectionModelItem>
                </AutomationSectionModel>
            </ExportSettings>
            <LayerVariables/>
        </AutomationLayer>
    </AutomationLayers>
</AutomationConfiguration>
