<?xml version="1.0" encoding="UTF-8"?>
<AgileDesignerConfiguration>
    <CustomFields>
        <VersionCustomFields/>
        <BlockCustomFields/>
        <PathCustomFields>
            <CustomField Id="100000">
                <FieldName>User</FieldName>
                <DefaultValue>adelbs</DefaultValue>
                <PluginId>1</PluginId>
            </CustomField>
        </PathCustomFields>
    </CustomFields>
    <SprintBoards>
        <SprintBoard Id="1" Name="Test Cases">
            <ItemSources>
                <ItemSource Source="2" SubSource="0"/>
                <ItemSource Source="2" SubSource="4"/>
                <ItemSource Source="2" SubSource="6"/>
            </ItemSources>
            <SprintBoardColumns>
                <Column Name="Backlog">
                    <ColumnStatuses>
                        <ColumnStatus Source="1" Status="-1"/>
                        <ColumnStatus Source="1" Status="0"/>
                        <ColumnStatus Source="2" Status="0"/>
                    </ColumnStatuses>
                </Column>
                <Column Name="Ready for Testing">
                    <ColumnStatuses>
                        <ColumnStatus Source="2" Status="5"/>
                    </ColumnStatuses>
                </Column>
                <Column Name="Failed">
                    <ColumnStatuses>
                        <ColumnStatus Source="2" Status="2"/>
                    </ColumnStatuses>
                </Column>
                <Column Name="Passed">
                    <ColumnStatuses>
                        <ColumnStatus Source="2" Status="1"/>
                    </ColumnStatuses>
                </Column>
            </SprintBoardColumns>
        </SprintBoard>
        <SprintBoard Id="2" Name="User Stories">
            <ItemSources>
                <ItemSource Source="2" SubSource="1"/>
                <ItemSource Source="2" SubSource="3"/>
            </ItemSources>
            <SprintBoardColumns>
                <Column Name="Backlog">
                    <ColumnStatuses>
                        <ColumnStatus Source="1" Status="-1"/>
                        <ColumnStatus Source="1" Status="0"/>
                        <ColumnStatus Source="2" Status="0"/>
                    </ColumnStatuses>
                </Column>
                <Column Name="Use Case Invalid">
                    <ColumnStatuses>
                        <ColumnStatus Source="2" Status="2"/>
                        <ColumnStatus Source="2" Status="4"/>
                    </ColumnStatuses>
                </Column>
                <Column Name="Use Case Valid">
                    <ColumnStatuses>
                        <ColumnStatus Source="2" Status="1"/>
                        <ColumnStatus Source="2" Status="3"/>
                    </ColumnStatuses>
                </Column>
            </SprintBoardColumns>
        </SprintBoard>
        <SprintBoard Id="3" Name="Statuses">
            <ItemSources>
                <ItemSource Source="1" SubSource="0"/>
                <ItemSource Source="1" SubSource="1"/>
                <ItemSource Source="1" SubSource="2"/>
                <ItemSource Source="1" SubSource="3"/>
                <ItemSource Source="1" SubSource="4"/>
                <ItemSource Source="1" SubSource="5"/>
            </ItemSources>
            <SprintBoardColumns>
                <Column Name="Backlog">
                    <ColumnStatuses>
                        <ColumnStatus Source="1" Status="-1"/>
                        <ColumnStatus Source="1" Status="0"/>
                    </ColumnStatuses>
                </Column>
                <Column Name="In Progress">
                    <ColumnStatuses>
                        <ColumnStatus Source="1" Status="2"/>
                        <ColumnStatus Source="1" Status="3"/>
                    </ColumnStatuses>
                </Column>
                <Column Name="Done">
                    <ColumnStatuses>
                        <ColumnStatus Source="1" Status="1"/>
                        <ColumnStatus Source="1" Status="4"/>
                    </ColumnStatuses>
                </Column>
            </SprintBoardColumns>
        </SprintBoard>
    </SprintBoards>
    <ExternalBoardOptionsList>
        <ExternalBoardOptions PluginId="9">
            <BoardOptions>
                <BoardOption>
                    <Type>0</Type>
                    <Id>1000</Id>
                    <Name>Default Export Include SubFlow: </Name>
                    <Value>AAAAAQAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>0</Type>
                    <Id>1001</Id>
                    <Name>Default Export Expand SubFlow: </Name>
                    <Value>AAAAAQAB</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>0</Type>
                    <Id>1002</Id>
                    <Name>Default Export Image: </Name>
                    <Value>AAAAAQAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>0</Type>
                    <Id>1003</Id>
                    <Name>Default Export Attached Images: </Name>
                    <Value>AAAAAQAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>0</Type>
                    <Id>1004</Id>
                    <Name>Default Export Test Data: </Name>
                    <Value>AAAAAQAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>0</Type>
                    <Id>1005</Id>
                    <Name>Default Export Test Scripts: </Name>
                    <Value>AAAAAQAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>0</Type>
                    <Id>1008</Id>
                    <Name>Default Export Exclude Default Test Data Variables: </Name>
                    <Value>AAAAAQAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>1</Type>
                    <Id>2000</Id>
                    <Name>Default Block Export Type: </Name>
                    <Value>AAAAAgAAAAAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>1</Type>
                    <Id>2001</Id>
                    <Name>Default Path Export Type: </Name>
                    <Value>AAAAAgAAAAAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>1</Type>
                    <Id>2002</Id>
                    <Name>Default Flow Export Type: </Name>
                    <Value>AAAAAgAAAAAA</Value>
                    <ListValues/>
                </BoardOption>
            </BoardOptions>
        </ExternalBoardOptions>
        <ExternalBoardOptions PluginId="16">
            <BoardOptions>
                <BoardOption>
                    <Type>0</Type>
                    <Id>100</Id>
                    <Name>Default Export Blocks As Design Steps: </Name>
                    <Value>AAAAAQAB</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>0</Type>
                    <Id>1000</Id>
                    <Name>Default Export Include SubFlow: </Name>
                    <Value>AAAAAQAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>0</Type>
                    <Id>1001</Id>
                    <Name>Default Export Expand SubFlow: </Name>
                    <Value>AAAAAQAB</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>0</Type>
                    <Id>1002</Id>
                    <Name>Default Export Image: </Name>
                    <Value>AAAAAQAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>0</Type>
                    <Id>1003</Id>
                    <Name>Default Export Attached Images: </Name>
                    <Value>AAAAAQAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>0</Type>
                    <Id>1004</Id>
                    <Name>Default Export Test Data: </Name>
                    <Value>AAAAAQAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>0</Type>
                    <Id>1005</Id>
                    <Name>Default Export Test Scripts: </Name>
                    <Value>AAAAAQAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>0</Type>
                    <Id>1008</Id>
                    <Name>Default Export Exclude Default Test Data Variables: </Name>
                    <Value>AAAAAQAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>0</Type>
                    <Id>101</Id>
                    <Name>Default Export Step Names as Numbers: </Name>
                    <Value>AAAAAQAB</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>0</Type>
                    <Id>102</Id>
                    <Name>Default Export Remove Unwanted Requirement Links</Name>
                    <Value>AAAAAQAB</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>1</Type>
                    <Id>110</Id>
                    <Name>Importing folders: </Name>
                    <Value>AAAAAgAAAAAA</Value>
                    <ListValues>
                        <Value Id="0" Text="Import Only Direct Children"/>
                        <Value Id="1" Text="Import Recursively Prompt Every Time"/>
                        <Value Id="2" Text="Import Recursively Do Not Prompt"/>
                    </ListValues>
                </BoardOption>
                <BoardOption>
                    <Type>1</Type>
                    <Id>120</Id>
                    <Name>Importing Call To Test: </Name>
                    <Value>AAAAAgAAAAAA</Value>
                    <ListValues>
                        <Value Id="0" Text="Do Not Import"/>
                        <Value Id="1" Text="Import Test as a single block"/>
                        <Value Id="2" Text="Import All Design Steps"/>
                        <Value Id="3" Text="Prompt Every Time"/>
                    </ListValues>
                </BoardOption>
                <BoardOption>
                    <Type>0</Type>
                    <Id>130</Id>
                    <Name>Import Tests as Description</Name>
                    <Value>AAAAAQAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>0</Type>
                    <Id>140</Id>
                    <Name>Import Design Steps as Description</Name>
                    <Value>AAAAAQAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>1</Type>
                    <Id>2000</Id>
                    <Name>Default Block Export Type: </Name>
                    <Value>AAAAAgAAAAAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>1</Type>
                    <Id>2001</Id>
                    <Name>Default Path Export Type: </Name>
                    <Value>AAAAAgAAAAAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>1</Type>
                    <Id>2002</Id>
                    <Name>Default Flow Export Type: </Name>
                    <Value>AAAAAgAAAAAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>1</Type>
                    <Id>900</Id>
                    <Name>Sorting ALM Model: </Name>
                    <Value>AAAAAgAAAAAA</Value>
                    <ListValues>
                        <Value Id="0" Text="Name"/>
                        <Value Id="1" Text="ID"/>
                    </ListValues>
                </BoardOption>
            </BoardOptions>
        </ExternalBoardOptions>
        <ExternalBoardOptions PluginId="1">
            <BoardOptions>
                <BoardOption>
                    <Type>0</Type>
                    <Id>-1471162203</Id>
                    <Name>Default Import Type</Name>
                    <Value>AAAAAQAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>0</Type>
                    <Id>-1980717858</Id>
                    <Name>Default Import Type</Name>
                    <Value>AAAAAQAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>0</Type>
                    <Id>-474388267</Id>
                    <Name>Default Import Type</Name>
                    <Value>AAAAAQAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>0</Type>
                    <Id>-75526695</Id>
                    <Name>Default Import Type</Name>
                    <Value>AAAAAQAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>0</Type>
                    <Id>1000</Id>
                    <Name>Default Export Include SubFlow: </Name>
                    <Value>AAAAAQAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>0</Type>
                    <Id>1001</Id>
                    <Name>Default Export Expand SubFlow: </Name>
                    <Value>AAAAAQAB</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>0</Type>
                    <Id>1002</Id>
                    <Name>Default Export Image: </Name>
                    <Value>AAAAAQAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>0</Type>
                    <Id>1003</Id>
                    <Name>Default Export Attached Images: </Name>
                    <Value>AAAAAQAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>0</Type>
                    <Id>1004</Id>
                    <Name>Default Export Test Data: </Name>
                    <Value>AAAAAQAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>0</Type>
                    <Id>1005</Id>
                    <Name>Default Export Test Scripts: </Name>
                    <Value>AAAAAQAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>0</Type>
                    <Id>1008</Id>
                    <Name>Default Export Exclude Default Test Data Variables: </Name>
                    <Value>AAAAAQAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>0</Type>
                    <Id>1016886659</Id>
                    <Name>Default Import Type</Name>
                    <Value>AAAAAQAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>0</Type>
                    <Id>1574896489</Id>
                    <Name>Default Import Type</Name>
                    <Value>AAAAAQAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>0</Type>
                    <Id>1751641957</Id>
                    <Name>Default Import Type</Name>
                    <Value>AAAAAQAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>1</Type>
                    <Id>2000</Id>
                    <Name>Default Block Export Type: </Name>
                    <Value>AAAAAAE=</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>1</Type>
                    <Id>2001</Id>
                    <Name>Default Path Export Type: </Name>
                    <Value>AAAACgAAAAACADA=</Value>
                    <ListValues>
                        <Value Id="0" Text="Issue: Test"/>
                        <Value Id="1" Text="Issue: Story"/>
                    </ListValues>
                </BoardOption>
                <BoardOption>
                    <Type>1</Type>
                    <Id>2002</Id>
                    <Name>Default Flow Export Type: </Name>
                    <Value>AAAAAAE=</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>1</Type>
                    <Id>3000</Id>
                    <Name>Default Block Link Type: </Name>
                    <Value>AAAACgAAAAACADM=</Value>
                    <ListValues>
                        <Value Id="0" Text="is blocked by"/>
                        <Value Id="1" Text="is cloned by"/>
                        <Value Id="2" Text="is duplicated by"/>
                        <Value Id="3" Text="relates to"/>
                    </ListValues>
                </BoardOption>
                <BoardOption>
                    <Type>1</Type>
                    <Id>3001</Id>
                    <Name>Default Path Link Type: </Name>
                    <Value>AAAACgAAAAACADM=</Value>
                    <ListValues>
                        <Value Id="0" Text="is blocked by"/>
                        <Value Id="1" Text="is cloned by"/>
                        <Value Id="2" Text="is duplicated by"/>
                        <Value Id="3" Text="relates to"/>
                    </ListValues>
                </BoardOption>
                <BoardOption>
                    <Type>1</Type>
                    <Id>3002</Id>
                    <Name>Default Flow Link Type: </Name>
                    <Value>AAAACgAAAAACADM=</Value>
                    <ListValues>
                        <Value Id="0" Text="is blocked by"/>
                        <Value Id="1" Text="is cloned by"/>
                        <Value Id="2" Text="is duplicated by"/>
                        <Value Id="3" Text="relates to"/>
                    </ListValues>
                </BoardOption>
            </BoardOptions>
        </ExternalBoardOptions>
        <ExternalBoardOptions PluginId="12">
            <BoardOptions>
                <BoardOption>
                    <Type>0</Type>
                    <Id>1000</Id>
                    <Name>Default Export Include SubFlow: </Name>
                    <Value>AAAAAQAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>0</Type>
                    <Id>1001</Id>
                    <Name>Default Export Expand SubFlow: </Name>
                    <Value>AAAAAQAB</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>0</Type>
                    <Id>1002</Id>
                    <Name>Default Export Image: </Name>
                    <Value>AAAAAQAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>0</Type>
                    <Id>1003</Id>
                    <Name>Default Export Attached Images: </Name>
                    <Value>AAAAAQAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>0</Type>
                    <Id>1004</Id>
                    <Name>Default Export Test Data: </Name>
                    <Value>AAAAAQAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>0</Type>
                    <Id>1005</Id>
                    <Name>Default Export Test Scripts: </Name>
                    <Value>AAAAAQAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>0</Type>
                    <Id>1008</Id>
                    <Name>Default Export Exclude Default Test Data Variables: </Name>
                    <Value>AAAAAQAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>1</Type>
                    <Id>2000</Id>
                    <Name>Default Block Export Type: </Name>
                    <Value>AAAAAgAAAAAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>1</Type>
                    <Id>2001</Id>
                    <Name>Default Path Export Type: </Name>
                    <Value>AAAAAgAAAAAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>1</Type>
                    <Id>2002</Id>
                    <Name>Default Flow Export Type: </Name>
                    <Value>AAAAAgAAAAAA</Value>
                    <ListValues/>
                </BoardOption>
                <BoardOption>
                    <Type>1</Type>
                    <Id>900</Id>
                    <Name>Sorting TFS Model: </Name>
                    <Value>AAAAAgAAAAAA</Value>
                    <ListValues>
                        <Value Id="0" Text="Name"/>
                        <Value Id="1" Text="ID"/>
                    </ListValues>
                </BoardOption>
            </BoardOptions>
        </ExternalBoardOptions>
        <ExternalBoardOptions PluginId="4">
            <BoardOptions>
                <BoardOption>
                    <Type>1</Type>
                    <Id>0</Id>
                    <Name>Default Export Type: </Name>
                    <Value>AAAACgAAAAACADA=</Value>
                    <ListValues>
                        <Value Id="0" Text="Individual Backlogs"/>
                        <Value Id="1" Text="Individual Backlogs With Tasks"/>
                        <Value Id="2" Text="Compound Backlog"/>
                        <Value Id="3" Text="Test Cases"/>
                    </ListValues>
                </BoardOption>
            </BoardOptions>
        </ExternalBoardOptions>
    </ExternalBoardOptionsList>
    <CustomPins>
        <CustomPin Id="0">
            <Name>Pin Red</Name>
            <Colour>#ff0000</Colour>
        </CustomPin>
        <CustomPin Id="1">
            <Name>Pin Yellow</Name>
            <Colour>#ffcc00</Colour>
        </CustomPin>
        <CustomPin Id="2">
            <Name>Pin Green</Name>
            <Colour>#00ff00</Colour>
        </CustomPin>
        <CustomPin Id="3">
            <Name>Pin Blue</Name>
            <Colour>#0000ff</Colour>
        </CustomPin>
        <CustomPin Id="4">
            <Name>Pin Black</Name>
            <Colour>#000000</Colour>
        </CustomPin>
    </CustomPins>
    <PathTypes>
        <PathType>
            <Id>0</Id>
            <Name>Test Cases</Name>
        </PathType>
        <PathType>
            <Id>1</Id>
            <Name>Use Cases</Name>
        </PathType>
        <PathType>
            <Id>2</Id>
            <Name>Complexity Cases</Name>
        </PathType>
        <PathType>
            <Id>3</Id>
            <Name>User Stories</Name>
        </PathType>
        <PathType>
            <Id>4</Id>
            <Name>Manual</Name>
        </PathType>
        <PathType>
            <Id>5</Id>
            <Name>Automation</Name>
        </PathType>
        <PathType>
            <Id>6</Id>
            <Name>Unit Tests</Name>
        </PathType>
        <PathType>
            <Id>7</Id>
            <Name>Backup</Name>
        </PathType>
    </PathTypes>
    <PluginEntityManagers>
        <PluginEntityManager PluginIdentifier="1">
            <PluginEntityCollection Url="http://localhost:8085" Domain="Domain" Project="TIC">
                <PluginEntities>
                    <PluginEntity EntityType="Issue" SubEntityType="Task">
                        <PluginEntityMappings>
                            <PluginEntityMapping GenericFieldSource="0">
                                <PluginEntityMap>
                                    <PluginEntityAttribute Name="summary" Value="" FriendlyName="Summary" Mandatory="Y" Type="string"/>
                                </PluginEntityMap>
                                <PluginEntityMap>
                                    <PluginEntityAttribute Name="reporter" Value="" FriendlyName="Reporter" Mandatory="Y" Type="user"/>
                                </PluginEntityMap>
                            </PluginEntityMapping>
                            <PluginEntityMapping GenericFieldSource="1">
                                <PluginEntityMap>
                                    <PluginEntityAttribute Name="summary" Value="" FriendlyName="Summary" Mandatory="Y" Type="string"/>
                                </PluginEntityMap>
                                <PluginEntityMap>
                                    <PluginEntityAttribute Name="reporter" Value="" FriendlyName="Reporter" Mandatory="Y" Type="user"/>
                                </PluginEntityMap>
                            </PluginEntityMapping>
                            <PluginEntityMapping GenericFieldSource="2">
                                <PluginEntityMap>
                                    <PluginEntityAttribute Name="reporter" Value="" FriendlyName="Reporter" Mandatory="Y" Type="user"/>
                                </PluginEntityMap>
                                <PluginEntityMap>
                                    <PluginEntityAttribute Name="summary" Value="" FriendlyName="Summary" Mandatory="Y" Type="string"/>
                                </PluginEntityMap>
                            </PluginEntityMapping>
                        </PluginEntityMappings>
                    </PluginEntity>
                </PluginEntities>
            </PluginEntityCollection>
            <PluginEntityCollection Url="http://localhost:8085" Domain="Domain" Project="LIS">
                <PluginEntities>
                    <PluginEntity EntityType="Issue" SubEntityType="Test">
                        <PluginEntityMappings>
                            <PluginEntityMapping GenericFieldSource="0">
                                <PluginEntityMap>
                                    <PluginEntityAttribute Name="reporter" Value="" FriendlyName="Reporter" Mandatory="Y" Type="user"/>
                                </PluginEntityMap>
                                <PluginEntityMap>
                                    <PluginEntityAttribute Name="summary" Value="" FriendlyName="Summary" Mandatory="Y" Type="string"/>
                                </PluginEntityMap>
                            </PluginEntityMapping>
                            <PluginEntityMapping GenericFieldSource="1">
                                <PluginEntityMap>
                                    <PluginEntityAttribute Name="description" Value="" FriendlyName="Description" Mandatory="N" Type="string"/>
                                    <GenericFieldDef Name="Path Name" Value="" Custom="N" Id="1" Source="1"/>
                                </PluginEntityMap>
                                <PluginEntityMap>
                                    <PluginEntityAttribute Name="reporter" Value="" FriendlyName="Reporter" Mandatory="Y" Type="user"/>
                                    <GenericFieldDef Name="User" Value="adelbs" Custom="Y" Id="100000" Source="1"/>
                                </PluginEntityMap>
                                <PluginEntityMap>
                                    <PluginEntityAttribute Name="summary" Value="" FriendlyName="Summary" Mandatory="Y" Type="string"/>
                                    <GenericFieldDef Name="Path Name" Value="" Custom="N" Id="1" Source="1"/>
                                </PluginEntityMap>
                            </PluginEntityMapping>
                            <PluginEntityMapping GenericFieldSource="2">
                                <PluginEntityMap>
                                    <PluginEntityAttribute Name="summary" Value="" FriendlyName="Summary" Mandatory="Y" Type="string"/>
                                </PluginEntityMap>
                                <PluginEntityMap>
                                    <PluginEntityAttribute Name="reporter" Value="" FriendlyName="Reporter" Mandatory="Y" Type="user"/>
                                </PluginEntityMap>
                            </PluginEntityMapping>
                        </PluginEntityMappings>
                    </PluginEntity>
                    <PluginEntity EntityType="Issue" SubEntityType="Task">
                        <PluginEntityMappings>
                            <PluginEntityMapping GenericFieldSource="0">
                                <PluginEntityMap>
                                    <PluginEntityAttribute Name="summary" Value="" FriendlyName="Summary" Mandatory="Y" Type="string"/>
                                </PluginEntityMap>
                                <PluginEntityMap>
                                    <PluginEntityAttribute Name="reporter" Value="" FriendlyName="Reporter" Mandatory="Y" Type="user"/>
                                </PluginEntityMap>
                            </PluginEntityMapping>
                            <PluginEntityMapping GenericFieldSource="1">
                                <PluginEntityMap>
                                    <PluginEntityAttribute Name="reporter" Value="" FriendlyName="Reporter" Mandatory="Y" Type="user"/>
                                </PluginEntityMap>
                                <PluginEntityMap>
                                    <PluginEntityAttribute Name="summary" Value="" FriendlyName="Summary" Mandatory="Y" Type="string"/>
                                </PluginEntityMap>
                            </PluginEntityMapping>
                            <PluginEntityMapping GenericFieldSource="2">
                                <PluginEntityMap>
                                    <PluginEntityAttribute Name="summary" Value="" FriendlyName="Summary" Mandatory="Y" Type="string"/>
                                </PluginEntityMap>
                                <PluginEntityMap>
                                    <PluginEntityAttribute Name="reporter" Value="" FriendlyName="Reporter" Mandatory="Y" Type="user"/>
                                </PluginEntityMap>
                            </PluginEntityMapping>
                        </PluginEntityMappings>
                    </PluginEntity>
                    <PluginEntity EntityType="Issue" SubEntityType="Epic">
                        <PluginEntityMappings>
                            <PluginEntityMapping GenericFieldSource="0">
                                <PluginEntityMap>
                                    <PluginEntityAttribute Name="summary" Value="" FriendlyName="Summary" Mandatory="Y" Type="string"/>
                                </PluginEntityMap>
                                <PluginEntityMap>
                                    <PluginEntityAttribute Name="reporter" Value="" FriendlyName="Reporter" Mandatory="Y" Type="user"/>
                                </PluginEntityMap>
                                <PluginEntityMap>
                                    <PluginEntityAttribute Name="customfield_10002" Value="" FriendlyName="Epic Name" Mandatory="Y" Type="string"/>
                                </PluginEntityMap>
                            </PluginEntityMapping>
                            <PluginEntityMapping GenericFieldSource="1">
                                <PluginEntityMap>
                                    <PluginEntityAttribute Name="summary" Value="" FriendlyName="Summary" Mandatory="Y" Type="string"/>
                                </PluginEntityMap>
                                <PluginEntityMap>
                                    <PluginEntityAttribute Name="reporter" Value="" FriendlyName="Reporter" Mandatory="Y" Type="user"/>
                                </PluginEntityMap>
                                <PluginEntityMap>
                                    <PluginEntityAttribute Name="customfield_10002" Value="" FriendlyName="Epic Name" Mandatory="Y" Type="string"/>
                                </PluginEntityMap>
                            </PluginEntityMapping>
                            <PluginEntityMapping GenericFieldSource="2">
                                <PluginEntityMap>
                                    <PluginEntityAttribute Name="reporter" Value="" FriendlyName="Reporter" Mandatory="Y" Type="user"/>
                                </PluginEntityMap>
                                <PluginEntityMap>
                                    <PluginEntityAttribute Name="customfield_10002" Value="" FriendlyName="Epic Name" Mandatory="Y" Type="string"/>
                                </PluginEntityMap>
                                <PluginEntityMap>
                                    <PluginEntityAttribute Name="summary" Value="" FriendlyName="Summary" Mandatory="Y" Type="string"/>
                                </PluginEntityMap>
                            </PluginEntityMapping>
                        </PluginEntityMappings>
                    </PluginEntity>
                    <PluginEntity EntityType="Issue" SubEntityType="Story">
                        <PluginEntityMappings>
                            <PluginEntityMapping GenericFieldSource="0">
                                <PluginEntityMap>
                                    <PluginEntityAttribute Name="reporter" Value="" FriendlyName="Reporter" Mandatory="Y" Type="user"/>
                                </PluginEntityMap>
                                <PluginEntityMap>
                                    <PluginEntityAttribute Name="summary" Value="" FriendlyName="Summary" Mandatory="Y" Type="string"/>
                                </PluginEntityMap>
                            </PluginEntityMapping>
                            <PluginEntityMapping GenericFieldSource="1">
                                <PluginEntityMap>
                                    <PluginEntityAttribute Name="description" Value="" FriendlyName="Description" Mandatory="N" Type="string"/>
                                    <GenericFieldDef Name="Description of Blocks" Value="" Custom="N" Id="18" Source="1"/>
                                </PluginEntityMap>
                                <PluginEntityMap>
                                    <PluginEntityAttribute Name="summary" Value="" FriendlyName="Summary" Mandatory="Y" Type="string"/>
                                    <GenericFieldDef Name="Path Name" Value="" Custom="N" Id="1" Source="1"/>
                                </PluginEntityMap>
                                <PluginEntityMap>
                                    <PluginEntityAttribute Name="reporter" Value="" FriendlyName="Reporter" Mandatory="Y" Type="user"/>
                                    <GenericFieldDef Name="User" Value="adelbs" Custom="Y" Id="100000" Source="1"/>
                                </PluginEntityMap>
                            </PluginEntityMapping>
                            <PluginEntityMapping GenericFieldSource="2">
                                <PluginEntityMap>
                                    <PluginEntityAttribute Name="summary" Value="" FriendlyName="Summary" Mandatory="Y" Type="string"/>
                                </PluginEntityMap>
                                <PluginEntityMap>
                                    <PluginEntityAttribute Name="reporter" Value="" FriendlyName="Reporter" Mandatory="Y" Type="user"/>
                                </PluginEntityMap>
                            </PluginEntityMapping>
                        </PluginEntityMappings>
                    </PluginEntity>
                </PluginEntities>
            </PluginEntityCollection>
        </PluginEntityManager>
    </PluginEntityManagers>
    <StepFilterWarning>1</StepFilterWarning>
    <StepFilter>
        <AdvancedFilters>
            <AdvancedFilter>
                <Name>Test</Name>
            </AdvancedFilter>
        </AdvancedFilters>
    </StepFilter>
</AgileDesignerConfiguration>